.course {
    padding: 24px;
    background: var(--card-color-background);
    border-radius: var(--card-border-radius);
    width: 408px;
}

.empty {
    width: 100%;
    text-align: center;
    display: block;
}

.course * {
    pointer-events: none;
}

.course p {
    font-size: 0.9em;
    overflow-wrap: break-word;
    margin: 0;
}

.course ul {
    list-style: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.course ul li{
    margin: 0 16px 0 0;
    color: rgb(255, 72, 0);
    pointer-events: auto;
}