@media (prefers-color-scheme: dark) {
    :root {
            --color-text: #fff;
            --color-background: rgb(0, 16, 16);

            --card-color-background: rgb(16, 24, 24);
            --card-color-shadow: hsl(180, 80%, 92%);
            --card-border-radius: 25px;
    }
}
@media (prefers-color-scheme: light) {
    :root {
          --color-text: rgb(0, 16, 16);
          --color-background: #fff;
    }
}
:root {
        --color-text: #fff;
        --color-background: #0A1010;

        --color-text-highlight: #1AE57F;

        --card-color-background: rgb(16, 24, 24);
        --card-color-shadow: hsl(180, 80%, 92%);
        --card-border-radius: 25px;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'Varela Round', sans-serif;
}

div.card {
    background-color: var(--card-color-background);
    color: var(--color-text);
    border-radius: var(--card-color-border-radius);
    box-shadow: 0px 0px 10px var(--card-color-shadow);
}

.grid-2 {
    display: grid;
    grid-template-columns: 432px 432px;
    grid-gap: 16px;
    justify-items: center;
    justify-content: center;
}

h1 {
    font-weight: bold;
    color: #ff8000;
    padding-bottom: 2px;
    text-shadow: 0px 0px 16px #ff800040;
    margin-bottom: 36px;
    text-align: center;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}