nav#top-nav {
    position: fixed;
    /* background-color: #09153f20; */
    background-color: #ffffff10;
    backdrop-filter: blur(20px);
    /* border-bottom: 2px solid #ffffff; */
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 72px;
    box-shadow: inset 2px 2px 4px #ffffff40,
                inset -2px -2px 4px #00000060,
                0px 0px 16px #1a1a1a40;
    align-items: center;
    z-index: 100;
}

nav#top-nav #brand #brand-logo img {
    width: 48px;
    height: 48px;
    margin: 12px;
}

nav#top-nav #brand #brand-name span {
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
}

nav#top-nav #account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 10px;
    width: 48px;
    height: 48px;
    margin: 12px;
    border-radius: 12px;
    border: #ffffff40 1px solid;
    box-shadow: none;
    transition: .2s;
}

nav#top-nav #account:hover {
    transition: .2s;
    box-shadow: inset 2px 2px 4px #ffffff40,
                inset -2px -2px 4px #00000060,
                0px 0px 16px #1a1a1a40;
}

nav#top-nav #account:hover:active {
    transition: .1s;
    box-shadow: inset -2px -2px 4px #00000060,
                inset 2px 2px 4px #ffffff40;
}

nav#top-nav #account a {
    text-decoration: none;
    color: var(--color-text);
}