<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Cyrocoders</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/hero.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/popups.css">
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/courses.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/CyroCoders/CyroWebF@0.5-indev/css/main.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9319510727327895" crossorigin="anonymous"></script>
    <meta name="title" content="CyroCoders Community For Developers">
    <meta name="description" content="We Are A Community Of Developers Of All Forms, Newbies Or Professionals, Even Passionate Devs Like You. We Also Host Hackathons And Work For OSS.">
    <meta name="keywords" content="cyrocoders,hackathons,cc-hacks,home,about,discord,contact,community,open-source,opensource,open source,sushant shah,discord bot,coders gang,girls who code,aiforkids,bootstrap,c,c++,python,java,javascript,programming,linux,windows,mac,">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="3 days">
    <meta name="author" content="CyroCoders">
</head>
    <body>
        <div id="background"></div>
        {% block navigation %}
            <nav id="top-nav">
                <div id="brand" class="box horizontal center">
                    <div id="brand-logo">
                        <a href="/">
                            <img src="/images/logo-round.svg" alt="Cyrocoders Logo">
                        </a>
                    </div>
                    <div id="brand-name">
                        <span>
                            Cyrocoders Learn
                        </span>
                    </div>
                </div>
                <div id="account" class="button">
                    <span class="box center">
                        <ion-icon name="person-outline"></ion-icon>
                    </span>
                </div>
            </nav>
        {% endblock %}
        {% block content %}
        
        {% endblock %}
        <div id="popups">
            <section id="signup" class="box vertical center">
                <form id="signup-form" class="box vertical">
                    <span>Sign Up For A Free Dev Account</span>
                    <span class="error"></span>
                    <input type="text" id="signup-username" placeholder="Username" required>
                    <input type="email" id="signup-email" placeholder="Email" required>
                    <input type="password" id="signup-password" placeholder="Password" required>
                    <input type="password" id="signup-password2" placeholder="Confirm Password" required>
                    <input type="submit" value="Sign Up">
                    <span class="to-login">Log In</span>
                </form>
            </section>
            <section id="login" class="box vertical center">
                <form id="login-form" class="box vertical">
                    <span>Log In To Your Dev Account</span>
                    <span class="error"></span>
                    <input type="email" id="login-email" placeholder="Email" required>
                    <input type="password" id="login-password" placeholder="Password" required>
                    <input type="submit" value="Login">
                    <span class="to-signup">Sign Up</span>
                </form>
            </section>
        </div>
        <script src="/js/main.js" type="module"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>