{% extends "base.jinja" %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <div id="content" class="fullScreen box horizontal center">
        <div id="hero-left">
            <span id="hero-text-top">
                Learn Computing From The
            </span>
            <span id="hero-text-bottom" class="box vertical">
                Experts
                <div class="decor"></div>
            </span>
        </div>
        <div id="hero-right">
            <img src="/Computer.svg" height="60vh">
        </div>
    </div>
    <div class="fullScreen"></div>
{% endblock %}