{% extends "base.jinja" %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <div id="content" class="fullScreen box horizontal center">
        <div id="hero-left">
            <span id="hero-text-top">
                Learn Computing From The
            </span>
            <span id="hero-text-bottom" class="box vertical">
                Experts
                <div class="decor"></div>
            </span>
            <div id="hero-CTA" class="horizontal center">
                <a href="/lessons" class="button">
                    Free Lessons
                </a>
                <a href="/courses" class="button">
                    Premium Courses
                </a>
            </div>
        </div>
        <div id="hero-right">
            <img src="/images/Computer.svg" height="60vh">
        </div>
    </div>
    <div id="premiumCourses">
        <h1>Premium Courses</h1>
        <span class="empty">Nothing Here!</span>
        <div id="premiumCoursesContent" class="grid-2">
        </div>
    </div>
    <div id="freeLessons">
        <h1>Free Lessons</h1>
        <span class="empty">Nothing Here!</span>
        <div id="freeLessonsContent" class="grid-2">
        </div>
    </div>
    <script src="/js/index.js" type="module"></script>
{% endblock %}